html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ec1a1a;
    text-align: center;
    font-size: 2rem;
}

.contenedor {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: left;
    color: #333333;
    border: 2px solid #dfdfdf;
    padding: 3rem 5rem;
}